.footer {
    background-color: #202938;
    padding: 20px 1rem;
    text-align: center;
    width: 100%;
    z-index: 1000;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footerCompanyLogo {
    height: 80px;
    width: 200px;
    margin-bottom: 1rem;
}

.footerWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    max-width: var(--max-width);
    margin: auto;
}

.footerCompanyInfo {
    max-width: 600px;
    position: relative;
    top: 0.7rem;
}

.footerCompanyInfo,
.footerConferenceInfo,
.footerContactInfo,
.footerCompanyDescription {
    width: 100%;
    text-align: center;
    /* padding: 0 1rem; */
}

.footerCompanyDescription {
    padding: 0rem;
}

.linksWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.8rem;
}

.links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.footerConferenceInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footerConferenceInfo h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 500;
    border-bottom: 2px solid var(--white-color);
    width: fit-content;
    padding-bottom: 0.5rem;
}

.footerContactInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.social_tags {
    margin-top: 2rem;
}

.social_tags > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.social_tags > div svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--brand-color);
}

.footerContactInfo h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    border-bottom: 2px solid var(--white-color);
    width: fit-content;
    padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .footer {
        padding: 20px 5rem;
    }

    .footerWrapper {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .footerCompanyInfo,
    .footerConferenceInfo,
    .footerContactInfo,
    .footerCompanyDescription {
        width: auto;
        text-align: left;
    }

    .links {
        font-size: 1rem;
        width: 200px;
        text-align: start;
    }
}

@media (max-width: 767px) {
    .footerCompanyInfo,
    .footerConferenceInfo,
    .footerContactInfo,
    .footerCompanyDescription {
        width: 100%;
        text-align: left;
    }

    .links {
        text-align: left;
    }
}
