.container {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    gap: 1rem;
    padding-block: 3rem;
}
.steps_container {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}
.steps_container > div {
    box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.1);
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
}
.steps_container > div span {
    writing-mode: vertical-rl;
    font-weight: 600;
    color: #626a80;
    text-align: center;
    padding: 0.3rem;
}
.steps_container > div h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
    bottom: -0.4rem;
    
}
.steps_container > div p {
    color: var(--primary-color);
    padding-inline: 1rem;
}
